html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-top: 12px;
    padding: 10px 35px;
    border: none;
    color: white;
    background: #0040FF;
}

.tablerow {
    background: rgb(0, 64, 255, 0.3);
    color: black;
}
.tablerow td {
    margin: 20px;
}
.tablerow.header {
    font-weight: 700;
    text-transform: uppercase;
}

table {
    margin-top: 20px;
    color: black;
}

.login button {
    align-self: center;
}

.logout_btn {
    float: right;
    right: 0;
    width: 120px;
    align-self: flex-end;
    margin-right: 20px;
}

.greeting {
    display: flex;
    text-align: center;
    align-items: center;
}
.greeting p {
    font-size: 2em;
    margin-left: 10px;
}
.book_btn {
    width: 160px;
    margin-left: 20px;
}
.edit_btn {
    background-color: yellow;
    color: black;
    padding: 5px 10px;
}

.delete_btn {
    background-color: red;
    padding: 5px 10px;
}

.login{
    width: 370px;
    height: 275px;
    background-color: rgba(128, 128, 128, 0.788);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 149px auto;
}

h2 {
    color: black;
}

.login input {
    margin-bottom: 20px;
    width: 160px;
    border: none;
    height: 20px;
    align-self: center;
}

.personal, .booking {
    width: 1200px;
    height: 530px;
    background-color: rgba(128, 128, 128, 0.788);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 149px auto;
}

.booking_choice {
    display: flex;
    justify-content: space-evenly;
}
.booking_choice select {
    width: 150px;
}

.booking table {
    width: 500px;
    align-self: flex-end;
}

.outline {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 100%;
}

.content {
    background-color: white;
    margin: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
}